{% extends "basic2.html" %}
{% block body %}

<div class="container">
  <center>
    <form action="/mainform" method="post">
      <div class="form-group">
        <h1><font color="white"> Select the coin you would like to research: </font></h1>
        <br>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="BTC"> BTC
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="ETH"> ETH
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="BCH"> BCH
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="XRP"> XRP
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="LTC"> LTC
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="IOT"> IOT
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="DASH"> DASH
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="XEM"> XEM
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="ADA"> ADA
            </label>
            <label class="btn btn-primary btn-lg">
              <input type="radio" name="coin" value="BTG"> BTG
            </label>
          </div>
          <br><br><br><br>
          <div style="background: rgba(225, 225, 225, .8">
          <font style="text-shadow: 1px 1px #000000;">
          <h2> Please enter a search query to filter tweets </h2>
          <h3> Separate each word and AND OR NOT statement. Example: wallet NOT fall </h3>

          <input style="width:70%" name="query" class="form-control form-control-lg" type="text" placeholder="Enter search query">
          <br>
          * Note: The API only allows retrieval of 100 tweets for free. Results will be severely limited. :)
        </font>
        <div>
        <br>

          <br>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      <br><br>
    </form>
</center>
</div>

{% endblock %}
