{% extends "basic2.html" %}
{% block body %}

<div class="container">

  <center>
    <h1><font color="white"> Select the coin you would like to research: </font></h1>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="BTC"> BTC
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="ETH"> ETH
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="BCH"> BCH
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="XRP"> XRP
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="LTC"> LTC
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="IOT"> IOT
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="DASH"> DASH
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="XEM"> XEM
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="ADA"> ADA
      </label>
      <label class="btn btn-primary btn-lg">
        <input type="radio" name="coin" value="BTG"> BTG
      </label>
    </div>
  </center>
</div>

{% endblock %}
